## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
!jupyter nbextension enable --py --sys-prefix widgetsnbextension

Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: ok

In [3]:
!jupyter nbextension enable --py --sys-prefix gmaps

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Data/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Lasa,IT,46.6166,10.7002,19.69,74,46,0.96,scattered clouds
1,1,San Rafael,AR,-34.6177,-68.3301,68.92,30,0,6.11,clear sky
2,2,Bluff,NZ,-46.6000,168.3333,56.03,76,93,16.11,overcast clouds
3,3,Ponta Do Sol,PT,32.6667,-17.1000,59.70,83,92,6.38,overcast clouds
4,4,Ancud,CL,-41.8697,-73.8203,56.16,88,100,12.84,light rain

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 70

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,San Rafael,AR,-34.6177,-68.3301,68.92,30,0,6.11,clear sky
2,2,Bluff,NZ,-46.6000,168.3333,56.03,76,93,16.11,overcast clouds
3,3,Ponta Do Sol,PT,32.6667,-17.1000,59.70,83,92,6.38,overcast clouds
4,4,Ancud,CL,-41.8697,-73.8203,56.16,88,100,12.84,light rain
12,12,Sao Filipe,CV,14.8961,-24.4956,69.44,67,0,18.54,clear sky
14,14,Port Elizabeth,ZA,-33.9180,25.5701,67.10,100,100,5.75,overcast clouds
26,26,Hermanus,ZA,-34.4187,19.2345,65.71,91,0,5.64,clear sky
28,28,Mataura,NZ,-46.1927,168.8643,57.47,79,100,5.10,overcast clouds
37,37,Turayf,SA,31.6725,38.6637,52.25,34,36,6.29,scattered clouds
46,46,Soni,TZ,-4.8500,38.3667,61.54,84,69,1.95,broken clouds

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                3
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,San Rafael,AR,68.92,clear sky,-34.6177,-68.3301,
2,Bluff,NZ,56.03,overcast clouds,-46.6000,168.3333,
3,Ponta Do Sol,PT,59.70,overcast clouds,32.6667,-17.1000,
4,Ancud,CL,56.16,light rain,-41.8697,-73.8203,
12,Sao Filipe,CV,69.44,clear sky,14.8961,-24.4956,
14,Port Elizabeth,ZA,67.10,overcast clouds,-33.9180,25.5701,
26,Hermanus,ZA,65.71,clear sky,-34.4187,19.2345,
28,Mataura,NZ,57.47,overcast clouds,-46.1927,168.8643,
37,Turayf,SA,52.25,scattered clouds,31.6725,38.6637,
46,Soni,TZ,61.54,broken clouds,-4.8500,38.3667,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.isnull().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of       City  Country  Max Temp  Current Description    Lat    Lng  Hotel Name
1    False    False     False                False  False  False       False
2    False    False     False                False  False  False       False
3    False    False     False                False  False  False       False
4    False    False     False                False  False  False       False
12   False    False     False                False  False  False       False
..     ...      ...       ...                  ...    ...    ...         ...
688  False    False     False                False  False  False       False
695  False    False     False                False  False  False       False
703  False    False     False                False  False  False       False
704  False    False     False                False  False  False       False
707  False    False     False                False  False  False       False

[167 rows x 7 columns]>

In [12]:
clean_hotel_df = hotel_df.dropna()

In [13]:
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,San Rafael,AR,68.92,clear sky,-34.6177,-68.3301,Hotel San Rafael
2,Bluff,NZ,56.03,overcast clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
3,Ponta Do Sol,PT,59.70,overcast clouds,32.6667,-17.1000,Hotel do Campo
4,Ancud,CL,56.16,light rain,-41.8697,-73.8203,Hotel Arena Gruesa
12,Sao Filipe,CV,69.44,clear sky,14.8961,-24.4956,Hotel Xaguate
...,...,...,...,...,...,...,...
688,Ambalavao,MG,66.06,overcast clouds,-21.8333,46.9333,Hôtel Le Tropik
695,Dzilam Gonzalez,MX,68.92,clear sky,21.2833,-88.9333,posadas
703,Mwingi,KE,64.69,scattered clouds,-0.9344,38.0601,Thorn Tree by The Address
704,Suluq,LY,56.84,overcast clouds,31.6682,20.2521,ورشة الحضيري لاكترونات وخدمات النت
707,Emilio Carranza,MX,63.03,overcast clouds,19.9711,-96.6114,Hotel Carranza Inn

In [14]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [15]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.

info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=max_temp,
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))