In [10]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [11]:
!jupyter nbextension enable --py --sys-prefix widgetsnbextension

Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: ok

In [12]:
!jupyter nbextension enable --py --sys-prefix gmaps

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok

In [13]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Victoria,22.2855,114.1577,61.25,79,47,5.01,HK,2022-02-25 01:23:44
1,1,Ushuaia,-54.8000,-68.3000,49.66,87,75,10.36,AR,2022-02-25 01:27:07
2,2,Cape Town,-33.9258,18.4232,67.87,86,0,11.50,ZA,2022-02-25 01:25:48
3,3,Lagoa,39.0500,-27.9833,57.07,71,6,9.66,PT,2022-02-25 01:27:08
4,4,Atuona,-9.8000,-139.0333,79.02,75,18,20.51,PF,2022-02-25 01:27:09

In [14]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [15]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [16]:
# # Get the maximum temperature.
# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))

In [37]:
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable and convert negative temps to zero.
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=[max(temp, 0) for temp in max_temp],
                                dissipating=False,
                                max_intensity=300,
                                point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=clouds, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=wind, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 70

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Victoria,22.2855,114.1577,61.25,79,47,5.01,HK,2022-02-25 01:23:44
2,2,Cape Town,-33.9258,18.4232,67.87,86,0,11.50,ZA,2022-02-25 01:25:48
3,3,Lagoa,39.0500,-27.9833,57.07,71,6,9.66,PT,2022-02-25 01:27:08
6,6,Mizan Teferi,6.9833,35.5833,65.89,71,100,1.43,ET,2022-02-25 01:27:10
7,7,Naze,28.3667,129.4833,56.32,55,0,13.15,JP,2022-02-25 01:27:10
10,10,Mataura,-46.1927,168.8643,65.48,45,2,1.32,NZ,2022-02-25 01:27:12
11,11,Los Llanos De Aridane,28.6585,-17.9182,60.55,76,75,14.97,ES,2022-02-25 01:27:12
18,18,Chuy,-33.6971,-53.4616,69.96,89,100,11.03,UY,2022-02-25 01:27:16
19,19,Coquimbo,-29.9533,-71.3436,64.13,82,0,3.44,CL,2022-02-25 01:23:16
22,22,Punta Arenas,-53.1500,-70.9167,55.51,71,0,12.66,CL,2022-02-25 01:27:18

In [44]:
preferred_cities_df.count()

City_ID       124
City          124
Lat           124
Lng           124
Max Temp      124
Humidity      124
Cloudiness    124
Wind Speed    124
Country       121
Date          124
dtype: int64

In [45]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                     City Country  Max Temp      Lat       Lng Hotel Name
0                Victoria      HK     61.25  22.2855  114.1577
2               Cape Town      ZA     67.87 -33.9258   18.4232
3                   Lagoa      PT     57.07  39.0500  -27.9833
6            Mizan Teferi      ET     65.89   6.9833   35.5833
7                    Naze      JP     56.32  28.3667  129.4833
10                Mataura      NZ     65.48 -46.1927  168.8643
11  Los Llanos De Aridane      ES     60.55  28.6585  -17.9182
18                   Chuy      UY     69.96 -33.6971  -53.4616
19               Coquimbo      CL     64.13 -29.9533  -71.3436
22           Punta Arenas      CL     55.51 -53.1500  -70.9167

In [52]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to "location" key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the base url and search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [53]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Victoria,HK,61.25,22.2855,114.1577,Mini Hotel Central
2,Cape Town,ZA,67.87,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
3,Lagoa,PT,57.07,39.0500,-27.9833,Casa Das Faias
6,Mizan Teferi,ET,65.89,6.9833,35.5833,Hotel Salayish - ሳላይሽ ሆቴል
7,Naze,JP,56.32,28.3667,129.4833,Shishime Hotel
10,Mataura,NZ,65.48,-46.1927,168.8643,Ellie's Villa
11,Los Llanos De Aridane,ES,60.55,28.6585,-17.9182,Valle Aridane
18,Chuy,UY,69.96,-33.6971,-53.4616,Nuevo Hotel Plaza
19,Coquimbo,CL,64.13,-29.9533,-71.3436,Hotel San Juan
22,Punta Arenas,CL,55.51,-53.1500,-70.9167,Hotel Hain

In [54]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [55]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=max_temp,
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))